<%= simple_form_for [booking, review] do |f| %>
  <h3 style="font-size: 17px;">Give a star rating...</h3>
  <%= f.input :rating, collection: (1..5).to_a, label: false, prompt: false, input_html: {data: {controller: "star-rating"}}%>
  <h3 style="font-size: 17px;">Write your review...</h3>
  <%= f.input :content, label: false, placeholder: "Type something..." %>
  <h3 style="font-size: 17px;">Add pictures (optional)</h3>
  <span><img class="preview-blob d-none" data-preview-target="preview"></img></span>
  <div data-preview-target="tagwrapper">
    <%= f.input :photos, as: :file, 
    input_html: { 
      multiple: true, 
      class: "tag-selector", 
      data: {
        action: "change->preview#readURLS"
        }}, 
      label: "+", 
      wrapper_html: {
        class: "tag-item"
        }, 
        prompt: "" %>
  </div>
    <div>
      <%= button_tag type: 'submit', class: "btn btn-primary" do %>
        <i class="bi bi-chat-square-text"></i> Save review
      <% end %>
    </div>

<% end %>
