<div class="navbar-dropworks">
  <div class="navbar-icons">
    <%= link_to root_path do %>
      <% if params[:controller] == "pages" && params[:action] == "home" %>
        <i class="bi-pin-map active-item"></i>
        <p class="active-item">Map</p>
      <% else %>
        <i class="bi-pin-map"></i>
        <p>Map</p>
      <% end %>
    <% end %>
  </div>
  <div class="navbar-icons">
    <% if params[:controller] == "pages" && params[:action] == "index" %>
      <i class="bi-search active-item"></i>
      <p class="active-item">Search</p>
    <% else %>
      <i class="bi-search"></i>
      <p>Search</p>
    <% end %>
  </div>
  <div class="navbar-icons">
    <% if params[:controller] == "pages" && params[:action] == "checkin" %>
      <i class="bi-qr-code-scan active-item"></i>
      <p class="active-item">Check-in</p>
    <% else %>
      <i class="bi-qr-code-scan"></i>
      <p>Check-in</p>
    <% end %>
  </div>
  <div class="navbar-icons">
    <% if params[:controller] == "pages" && params[:action] == "activity" %>
      <i class="bi-bell active-item"></i>
      <p class="active-item">Activity</p>
    <% else %>
      <i class="bi-bell"></i>
      <p>Activity</p>
    <% end %>
  </div>
  <div class="navbar-icons">
    <%= link_to dashboard_path do %>
      <% if params[:controller] == "pages" && params[:action] == "dashboard" %>
        <i class="bi-person active-item"></i>
        <p class="active-item">Profile</p>
      <% else %>
        <i class="bi-person"></i>
        <p>Profile</p>
      <% end %>
    <% end %>
  </div>
</div>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
        </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
