<table class="styled-table mt-4">
    <thead class="border-bottom p-2">
        <tr>
            <th>#id</th>
            <th>content</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
      <% user_venues.each do |v| %>
        <tr class="border-bottom p-2">
            <td><%= v.id %></td>
            <td><%= v.name %></td>
            <td><%= v.address %></td>
            <td><%= v.capacity %></td>
            <td>
              <%= link_to "Edit", edit_venue_path(v) %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>
