<div class="map-card">
  <div class="d-flex" style="height: 100px; width: 100%;">
    <div class="venue-image" style="background-image: url('<%= venue.image_urls.first %>')">
      <%# <img src="<%= venue.image_urls.first %>
    </div>
    <div class="info-container">
      <div class="info-card">
        <%= link_to venue_path(venue.id) do %>
          <h4><%= venue.name %></h4>
          <p><%= venue.overview.truncate(40) %></p>
          <div class="info-window-icon-container">
            <div class="icon-info-pair">
              <i class="bi-person-add"></i>
              <p><%= venue.capacity %></p>
            </div>
            <div class="icon-info-pair">
              <i class="bi-wifi"></i>
              <p><%= venue.wifi_speed %> mbit/s</p>
            </div>
            <div class="icon-info-pair">
              <i class="bi-cursor"></i>
              <p><%= venue.distance_to %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
