<% @venues.each do |venue| %>
  <div class="venue-card" >
    <h2>
      <%= venue.name  %>
      <% favorite = Favorite.find_by(venue:venue) %>
      <% if favorite && favorite.liked %>
        <%= link_to  favorite_venue_path(venue, favorite: favorite), data: {turbo_method: :patch} do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <% else %>
        <%= link_to  favorite_venue_path(venue, favorite: favorite), data: {turbo_method: :patch} do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
<% end %>
    </h2>
    <h4><%= venue.address %></h4>
    <p><%= venue.overview %></p>
    <h2><%= venue.rating %></h2>
  </div>
<% end %>
