<% @venues.each do |venue| %>
  <div class="venue-card" data-controller="favorite" >
    <h2>
      <%= venue.name  %>
        <% favorite = Favorite.find_by(venue:venue) %>
        <% if favorite && favorite.liked %>
          <%= link_to  favorite_venue_path(venue, favorite: favorite),remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch} do %>
            <i class="fa-solid fa-heart"  data-favorite-target="heartIcon"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_venue_path(venue, favorite: favorite),remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch } do %>
            <i class="fa-regular fa-heart" data-favorite-target="heartIcon"></i>
          <% end %>
        <% end %>
    </h2>
    <h3><%= venue.address %></h3>
    <p><%= venue.overview %></p>
  </div>
<% end %>
