<div data-controller="search">
  <%# search bar component - begin of script -BL %>
    <%= render "shared/search_bar" %>
  <%# grid system to display venues %>
  <h1> Spaces close to you...</h1>
  <div class="row" style="padding-bottom: 100px" data-search-target="cards">
      <% @venues.each do |venue| %>
        <div class="venue-card" data-controller="favorite">
          <div class="favorite-heart">
            <% favorite = Favorite.find_by(venue: venue) %>
            <% if favorite && favorite.liked %>
              <%= link_to favorite_venue_path(venue, favorite: favorite), remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch } do %>
                <i class="bi bi-bookmark-heart" data-favorite-target="heartIcon"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_venue_path(venue, favorite: favorite), remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch } do %>
                <i class="bi bi-bookmark-heart-fill" data-favorite-target="heartIcon"></i>
              <% end %>
            <% end %>
          </div>
          <%= link_to venue_path(venue.id) do %>
            <div class="image">

              <img class="img-properties-form" src="<%= venue.image_urls.first %>" alt="Venue-picture">
                <div>
                  <% if venue.photos.attached? %>
                    <div>
                      <% venue.photos.each do |photo| %>
                      <%= cl_image_tag photo.key %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </div>

            <div class="info">
              <div class="mt-2">
                <h6 style="width:45%; margin-bottom: 0"><%= venue.name %></h6>
                <p style="width:33%;">
                  <% if venue.average_rating %>
                    <% full_stars = venue.average_rating.to_i %>
                    <% full_stars.times do %>
                      <i class="bi bi-star-fill" style="color: #FF8500; font-size: 17px;"></i>
                    <% end %>

                    <% if venue.average_rating.to_s.split(".")[1].to_i > 2 && venue.average_rating.to_s.split(".")[1].to_i < 8 %>
                      <i class="bi bi-star-half" style="color: #FF8500; font-size: 17px;"></i>
                      <% empty_stars = 5 - full_stars - 1 %>
                    <% else %>
                      <% empty_stars = 5 - full_stars %>
                    <% end %>

                    <% (empty_stars).times do %>
                      <i class="bi bi-star" style="color: #FF8500; font-size: 17px;"></i>
                    <% end %>

                  <% else %>
                    <% 5.times do %>
                      <i class="bi bi-star" style="color: #D1D1D6; font-size: 17px;"></i>
                    <% end %>
                  <% end %>
                </p>
                <p style="width:22%; text-align: right" class="card-wifi-speed"><i class="bi-wifi"></i> <%= venue.wifi_speed %> mbit/s</p>
              </div>

              <div>
                <p style="width:45%;" class="card-overview-text"><%= venue.overview.truncate(29) %></p>
                <p class="seat-available" style="width:35%;"><i class="bi-person-add"></i> <span style="color: #4CD964">12</span> seats available</p>
                <p style="width:20%; text-align: right" class="card-distance"><i class="bi-cursor"></i> <%= venue.distance_to %></p>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
  </div>
</div>
