<div class="show-page-container container">
  <div class="container d-flex pb-4">
    <div class="container image-container p-0">
      <div class="splide" data-controller="splide">
        <div class="splide__track">
          <!-- Additional required wrapper -->
          <ul class="splide__list">
            <% if @venue.photos.attached? %>
              <% @venue.photos.each do |photo| %>
                <li class="splide__slide">
                  <%= cl_image_tag photo.key, class: "w-100 h-100"%>
                </li>
              <% end %>
            <% else %>
              <% @venue.image_urls.each do |venue_image| %>
                <li class="splide__slide">
                  <img class="w-100" src="<%= venue_image %>">
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h1><%= @venue.name %></h1>
    <p style="width:45%;">
      <% 5.times do %>
        <i class="bi bi-star-fill" style="color: #FF8500; font-size: 17px;"></i>
      <% end %>
    </p>
  <div class="container-icons">
    <div class="circle-container">
      <i class="bi bi-cursor"></i>
    </div>
    <div class="circle-container" data-controller="favorite">
        <% favorite = Favorite.find_by(venue_id: @venue) %>
        <% if favorite && favorite.liked %>
          <%= link_to favorite_venue_path(@venue, favorite: favorite), remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch } do %>
            <i style="color: white" class="bi bi-bookmark-heart" data-favorite-target="heartIcon"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_venue_path(@venue, favorite: favorite), remote: true, data: { action: "click->favorite#favorite", turbo_method: :patch } do %>
            <i style="color: white" class="bi bi-bookmark-heart-fill" data-favorite-target="heartIcon"></i>
          <% end %>
        <% end %>
    </div>
  </div>


  <!-- Circular container with Bootstrap icon -->
  <!-- app/views/venues/show.html.erb -->

<div class="block-opening-hours">
  <h3>Opening Hours</h3>
  
  <div class="day-dropdown" data-controller="day-selector">
    <button type="button" data-action="click->day-selector#toggleDropdown">
      Show hours
    </button>
  
  <!-- Circular container with Bootstrap icon -->

  <h2>Reviews for venue</h2>
  <%= link_to "Edit your Venue", edit_venue_path(@venue), class: "btn btn-dark btn-sm" %>
  <%= link_to "Delete your Venue", venue_path(@venue), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm text-white" %>
  <%= link_to "Book this Venue", new_venue_booking_path(@venue), class: "btn btn-primary btn-sm" %>
  <h2 style="font-weight: bold;">Address</h2>
  <p><%= @venue.address %></p>
  <h2>Reviews</h2>
  <% @venue.bookings.each do |booking| %>
    <% if !booking.review.nil? %>
      <h2><%= booking.review.content %></h2>
      <% if booking.review.photos.attached? %>
        <% booking.review&.photos.each do |photo| %>
          <%= cl_image_tag(photo.key) %>
        <% end %>
      <% end %>
      <h2><%= booking.review.rating %></h2>
    <% end %>
  <% end %>
</div>

<%# Hide generated QR code %>
<%# <div class="d-none"> %>
 <%#= @svg.html_safe %>
<%# </div> %>
