<div class="show-page-container container">
  <div class="container d-flex pb-4">
    <div class="container image-container p-0">
      <div class="splide" data-controller="splide">
        <div class="splide__track">
          <!-- Additional required wrapper -->
          <ul class="splide__list">
            <% if @venue.photos.attached? %>
              <% @venue.photos.each do |photo| %>
                <li class="splide__slide">
                  <%= cl_image_tag photo.key, class: "w-100 h-100"%>
                </li>
              <% end %>
            <% else %>
              <% @venue.image_urls.each do |venue_image| %>
                <li class="splide__slide">
                  <img class="w-100" src="<%= venue_image %>">
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-venue">
    <h1><%= @venue.name %></h1>
    <p style="width:45%;">
      <% 5.times do %>
        <i class="bi bi-star-fill" style="color: #FF8500; font-size: 17px;"></i>
      <% end %>
    </p>
<div class="block-text-overview">
  <p><%= @venue.overview %></p>
</div>

  <div class="container-bootstrap-icons">
    <div class="navigate">
      <div class="circle-container">
        <i class="bi bi-cursor"></i>
      </div>
        <p><%= link_to "Navigate", root_path%></p>
    </div>
    <!-- Assuming you have a Turbo Frame with the ID "favorite_frame" -->
    <div class="save">
      <div class="circle-container" data-controller="favorite">
        <%= turbo_frame_tag 'favorite_frame' do %>
          <% favorite = Favorite.find_by(venue_id: @venue) %>
          <% unless favorite && favorite.liked %>
            <%= link_to favorite_venue_path(@venue, favorite: favorite), remote: true, data: { turbo_frame: "favorite_frame", action: "click->favorite#favorite", turbo_method: :patch } do %>
              <i class="bi bi-bookmark-heart" data-favorite-target="heartIcon"></i>
              <p data-favorite-target="saveText">Save</p>
            <% end %>
          <% else %>
            <%= link_to favorite_venue_path(@venue, favorite: favorite), remote: true, data: { turbo_frame: "favorite_frame", action: "click->favorite#favorite", turbo_method: :patch } do %>
              <i class="bi bi-bookmark-heart-fill" data-favorite-target="heartIcon"></i>
            <% end %>
            <p data-favorite-target="saveText">Saved</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="review">
      <div class="circle-container">
      <i class="bi bi-chat-square-text"></i>
    </div>
      <p>Review</p>
    </div>
    <div class="reserve">
      <div class="circle-container circle-container-booking">
      <i class="bi bi-calendar-plus"></i>
    </div>
      <p><%= link_to "Reserve", new_venue_booking_path(@venue)%></p>
    </div>
  </div>
  <div class="infos-venue">
  <div class="first-column-values">
    <div class="open-hour-text">
      <p class="gap-text-icon"><i class="bi bi-clock"></i>Open • Closes at 18.00</p>
    </div>
    <div class="other-value">
      <p class="gap-text-icon"><i class= "bi bi-question"></i> Other value goes here</p>
    </div>
  </div>
  <div class="second-column-values">
      <div class="seat-available">        
        <p class="gap-text-icon"><i class= "bi bi-people"></i> 5/12 seats available</p>
      </div>
      <div class="wifi-speed">        
        <p class="gap-text-icon"><i class="bi bi-wifi"></i> 200 mbit/s</p>
      </div>
  </div>
  </div>
  <div class="block-opening-hours">
    <h3>Opening hours</h3>
      <p>Mondays (Today) from 8.00 to 18.00</p>
  </div>
  <div class="address">
    <h3>Address</h3>
      <p>Rudi-Dutschke-Straße 26, 10965 Berlin</p>
  </div>
  <div class="reviews-block">
    <div class="title-reviews">
      <h2 style="margin:0">Reviews</h2>
      <div class="circle-container-add-review">
        <i class="bi bi-plus-circle-fill"></i>
      </div>
    </div>
      <%= link_to "Edit your Venue", edit_venue_path(@venue), class: "btn btn-dark btn-sm" %>
      <%= link_to "Delete your Venue", venue_path(@venue), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm text-white" %>
    <% @venue.bookings.each do |booking| %>
      <% if !booking.review.nil? %>
        <h2><%= booking.review.content %></h2>
        <% if booking.review.photos.attached? %>
          <% booking.review&.photos.each do |photo| %>
            <%= cl_image_tag(photo.key) %>
          <% end %>
        <% end %>
        <h2><%= booking.review.rating %></h2>
      <% end %>
    <% end %>
  </div>
</div>
